// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
	width: 100%;
	min-height: 100vh;
}

.navbar-laravel {
	background-color: $green;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//navbar
.navbar {
	border-bottom: 1px solid #111;
}
.navbar > .container {
	position: relative;
}

span.openNav,
span.closeNav {
	padding-left: inherit;
	padding-right: inherit;
	position: absolute;
	cursor: pointer;
	font-size: 25px;
	right: 0;
	display: none;
}

@media (max-width: 768px) {
	span.openNav {
		display: block;
	}
	.sideNav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}
	.sideNav .closeNav {
		display: block;
		position: absolute;
		top: 0;
		left: 25px;
		font-size: 36px;
		margin-right: 50px;
		color: #818181;
		transition: 0.3s;
	}
	.sideNav .closeNav:hover {
		color: #f1f1f1;
	}

	.sideNav .nav-link {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}
	.sideNav .nav-link:hover {
		color: #f1f1f1;
	}
	.visible {
		width: 250px;
	}
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav .nav-link {
		font-size: 18px;
	}
}
