// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
	width: 100%;
	min-height: 100vh;
}

.navbar-laravel {
	background-color: $green;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//navbar
#mainNav {
	height: 12vh;
}

.navbar {
	border-bottom: 1px solid #111;
}

.navbar > .container {
	position: relative;
}

span.openNav,
span.closeNav {
	padding-left: inherit;
	padding-right: inherit;
	position: absolute;
	cursor: pointer;
	font-size: 25px;
	right: 0;
	display: none;
}

@media (max-width: 768px) {
	.navbar-expand-md .navbar-nav {
		flex-direction: column;
	}
	span.openNav {
		display: block;
	}
	.sideNav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}
	.sideNav .closeNav {
		display: block;
		position: absolute;
		top: 0;
		left: 25px;
		font-size: 36px;
		margin-right: 50px;
		color: #818181;
		transition: 0.3s;
	}
	.sideNav .closeNav:hover {
		color: #f1f1f1;
	}

	.sideNav .nav-link {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}
	.sideNav .nav-link:hover {
		color: #f1f1f1;
	}
	.visible {
		width: 250px;
	}
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav .nav-link {
		font-size: 18px;
	}
}
// end of navbar

//main content container
main {
	width: 66.6vw;
	margin: 2vh auto;
	padding: 2vh;
	background-color: gray;
	min-height: 100vh;
}
@media (max-width: 768px) {
	main {
		width: 83.2vw;
	}
}
@media (min-width: 768px) {
	main {
		width: 76vw;
	}
}
//end of main container

//capmaign page
div.details-main,
div.details-header,
div.details-secondary {
	width: 100%;
	margin-bottom: 2vh;
	background-color: lightgray;
	min-height: 50px;
	position: relative;
}
div.details-main {
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-column-gap: 4vh;
	height: 70vh;
}
.details-main div.photo {
	height: 100%;
}
.details-main div.details-main-right {
	height: 100%;
	display: grid;
	grid-template-rows: 2fr 8fr;
	grid-row-gap: 2vh;
	background-color: darkgray;
}
div.details-main-right > div:nth-child(odd) {
	background-color: rgb(94, 94, 94);
}
.details-header {
	padding: 10px 0;
}
.details-header .social,
.details-header .subject {
	font-size: 15px;
}
.details-header .social {
	margin-right: 0;
}
.owner {
	display: grid;
	grid-template-columns: 9fr 3fr;
	grid-column-gap: 2vh;
	text-align: center;
}
.owner-name {
	padding: 20px 0;
}
.owner-icon {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: lightgray;
	margin: auto;
}
.hidden-subject {
	text-align: center;
	display: none;
}
.hidden-donate {
	display: none;
	padding: 10px 0;
	width: 100%;
	margin-bottom: 2vh;
	background-color: lightgray;
	min-height: 50px;
	position: relative;
	text-align: center;
}
@media (max-width: 868px) {
	.mining {
		display: none;
	}
	div.details-main {
		grid-template-columns: 1fr;
		grid-template-rows: 5fr 1fr;
	}
	.details-main div.details-main-right {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.hidden-subject {
		display: block;
	}
	.owner {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.details-header {
		display: none;
	}
	.hidden-donate {
		display: block;
	}
}
//end of details

//explore page
.search {
	text-align: center;
	min-height: 5vh;
	width: 100%;
	background-color: #c2c2c2;
	margin-bottom: 2vh;
	padding: 5px 0;
}
.sort {
	text-align: center;
	min-height: 5vh;
	width: 100%;
	background-color: #c2c2c2;
	margin-bottom: 2vh;
	padding: 5px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.campaigns {
	margin-top: 8vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 6vh;
	grid-column-gap: 12vh;
	width: 100%;
}
.campaigns div {
	background-color: #c2c2c2;
	width: 100%;
	height: 50vh;
}
@media (max-width: 868px) {
	.campaigns {
		grid-template-columns: 1fr 1fr;
	}
	.campaigns div {
		height: 60vh;
	}
}
@media (max-width: 768px) {
	.campaigns {
		margin: auto;
		margin-top: 4vh;
		grid-template-columns: 1fr;
		grid-gap: 3vh;
		width: 90%;
	}
	.campaigns div {
		height: 75vh;
	}
}
//end of explore page

//article page
.blog-first-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 2vh;
	margin-bottom: 2vh;
}

.blog {
	background-color: #c2c2c2;
}
.blog-first-row .blog:nth-child(2),
.blog-first-row .blog:nth-child(3),
.blog-first-row .blog:nth-child(4) {
	grid-column: 3/5;
}

.blog-first-row .blog:first-child {
	grid-column: 1/3;
	grid-row: 1/4;
}

.blog-entire {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 2vh;
}

.blog-entire .blog:nth-child(7n) {
	grid-column: 3/5;
}
@media (max-width: 868px) {
	.blog-first-row .blog:first-child {
		grid-column: 1/5;
		grid-row: 1/2;
	}
	.blog-first-row .blog:nth-child(2),
	.blog-first-row .blog:nth-child(3),
	.blog-first-row .blog:nth-child(4) {
		grid-column: 1/5;
	}
	.blog-first-row {
		grid-auto-rows: minmax(350px, auto);
	}
	.blog-entire {
		grid-auto-rows: minmax(125px, auto);
	}
	.blog-entire .blog,
	.blog-entire .blog:nth-child(7n) {
		grid-column: 1/5;
	}
}
