// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
	width: 100%;
	min-height: 100vh;
}

.navbar-laravel {
	background-color: $green;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

//navbar
#mainNav {
	height: 12vh;
}

.navbar {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar > .container {
	position: relative;
}

span.openNav,
span.closeNav {
	padding-left: inherit;
	padding-right: inherit;
	position: absolute;
	cursor: pointer;
	font-size: 25px;
	right: 0;
	display: none;
}

@media (max-width: 768px) {
	.navbar-expand-md .navbar-nav {
		flex-direction: column;
	}
	span.openNav {
		display: block;
	}
	.sideNav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}
	.sideNav .closeNav {
		display: block;
		position: absolute;
		top: 0;
		left: 25px;
		font-size: 36px;
		margin-right: 50px;
		color: #818181;
		transition: 0.3s;
	}
	.sideNav .closeNav:hover {
		color: #f1f1f1;
	}

	.sideNav .nav-link {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}
	.sideNav .nav-link:hover {
		color: #f1f1f1;
	}
	.visible {
		width: 250px;
	}
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav .nav-link {
		font-size: 18px;
	}
}
// end of navbar

//main content container
// main {
// 	width: 66.6vw;
// 	margin: 2vh auto;
// 	padding: 2vh;
// 	background-color: gray;
// 	min-height: 100vh;
// }
@media (max-width: 768px) {
	main {
		width: 83.2vw;
	}
}
@media (min-width: 768px) {
	main {
		width: 76vw;
	}
}
//end of main container

//capmaign page
div.details-main,
div.details-header,
div.details-secondary {
	width: 100%;
	margin-bottom: 2vh;
	background-color: lightgray;
	min-height: 50px;
	position: relative;
}
div.details-main {
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-column-gap: 4vh;
	height: 70vh;
}
// .details-main div.photo {
// 	height: 100%;
// }
.details-main div.details-main-right {
	height: 100%;
	display: grid;
	grid-template-rows: 2fr 8fr;
	grid-row-gap: 2vh;
	background-color: darkgray;
}
div.details-main-right > div:nth-child(odd) {
	background-color: rgb(94, 94, 94);
}
.details-header {
	padding: 10px 0;
}
.details-header .social,
.details-header .subject {
	font-size: 15px;
}
.details-header .social {
	margin-right: 0;
}

// .owner-name {
// 	padding: 20px 0;
// }
// .owner-icon {
// 	width: 55px;
// 	height: 55px;
// 	border-radius: 50%;
// 	background-color: lightgray;
// 	margin: auto;
// }
.hidden-subject {
	text-align: center;
	display: none;
}
.hidden-donate {
	display: none;
	padding: 10px 0;
	width: 100%;
	margin-bottom: 2vh;
	background-color: lightgray;
	min-height: 50px;
	position: relative;
	text-align: center;
}
@media (max-width: 868px) {
	.mining {
		display: none;
	}
	div.details-main {
		grid-template-columns: 1fr;
		grid-template-rows: 5fr 1fr;
	}
	.details-main div.details-main-right {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.hidden-subject {
		display: block;
	}
	// .owner {
	// 	grid-template-columns: 1fr;
	// 	grid-template-rows: 1fr 1fr;
	// }
	.details-header {
		display: none;
	}
	.hidden-donate {
		display: block;
	}
}
//end of details

//explore page

//end of explore page

//article page
.blog-first-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 2vh;
	margin-bottom: 2vh;
}

.blog {
	background-color: #c2c2c2;
}
.blog-first-row .blog:nth-child(2),	
.blog-first-row .blog:nth-child(3),
.blog-first-row .blog:nth-child(4) {
	grid-column: 3/5;
}

.blog-first-row .blog:first-child {
	grid-column: 1/3;
	grid-row: 1/4;
}

.blog-entire {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 2vh;
}

.blog-entire .blog:nth-child(7n) {
	grid-column: 3/5;
}
@media (max-width: 868px) {
	.blog-first-row .blog:first-child {
		grid-column: 1/5;
		grid-row: 1/2;
	}
	.blog-first-row .blog:nth-child(2),
	.blog-first-row .blog:nth-child(3),
	.blog-first-row .blog:nth-child(4) {
		grid-column: 1/5;
	}
	.blog-first-row {
		grid-auto-rows: minmax(350px, auto);
	}
	.blog-entire {
		grid-auto-rows: minmax(125px, auto);
	}
	.blog-entire .blog,
	.blog-entire .blog:nth-child(7n) {
		grid-column: 1/5;
	}
}

// Global style
main{
	height: 100%;
	width: 95%;
	max-width: 374px;
	min-height: 100vh;
	margin: auto;
	padding-top: 23px;
	padding-bottom: 23px;
	display: flex;
	flex-wrap: wrap;
}
.main-container{
	background-color: #f4f4f4;
	position: relative;
}
main > div{
	width: 100%;
}

@media(min-width:768px){
	main{
		width: 712px;
		max-width: 712px;
		margin: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	main > div{
		display: flex;
		flex-wrap: wrap;
	}
}	
@media(min-width:1280px){
	main{
		width: 1230px;
		max-width: 1230px;
		margin:auto;
		padding-top: 42px;
		padding-bottom: 42px; 
	}
	main > div{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}
// end of global style

// campaign page
main > div > div.gallery-mini{
	margin: 0;
	width: 387px;
	max-width: 100%;
	height: 442px;
	border-radius: 2px;
}
main > div > div.gallery-mini > div.static-gallery{
	width: 387px;
	max-width: 100%;
	height: 442px;
	background-image: url(https://images.unsplash.com/photo-1553531384-411a247ccd73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);//change after test
	background-position: center;
	background-size: cover;
}
main > div > div.gallery-mini > div.static-gallery > div.gallerym-overlay{
	width: 387px;
	max-width: 340px;
	height: 442px;
  	opacity: 0.6;
  	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #545454);
	border-radius: 2px;
}
main > div > div> div.about-mini{
	margin: 10px 0 15px 0;
	width: 100%;
	display: grid;
	grid-template-columns: 4fr 1fr;
}
.about-mini > .header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about-mini > .header > div > .header-text{
	margin-bottom: 2px;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}
.about-mini > .header > div >.header-date{
	margin-bottom: 5px;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.21;
	letter-spacing: normal;
	text-align: left;
	color: #c4c4c4;
}
.about-mini > .header > .header-dleft{
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal; 
	line-height: 1.22;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}
.about-mini > .story-mini{
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	max-width: 280px;
}
.about-mini > .owner {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: minmax(20px, 50px);
	text-align: center;
	font-size: 16px;
}
.about-mini > .owner > .owner-name{
	padding: 0;
	justify-content: space-between;
	display: flex;	
}
.about-mini > .owner > .owner-name > p{
	display: inline-block;
	line-height: 0.9;
}

.about-mini > .owner > .owner-name > span{
	display: none;
}

.about-mini > .owner > .owner-name > span > a{
	text-decoration: none;
	color: #3e3e3e;
	margin-left: 34px;
}
.about-mini > .owner > .owner-name > span > a > img{
	margin-right: 6px;
}
.about-mini > .owner > .owner-icon{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: lightgray;
	margin: auto;
}
.completion{
	width: 100%;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: right;
	margin-bottom: 26px;	
}
.completion > p.completion-donators{
	width: 100%;
	font-weight: bold;	
	margin-bottom: 0;
}
.completion > div.fillable-bar{
	width: 100%;
	height: 12px;
	border-radius: 36px;
	background-color: #dfdede;
	z-index: 1;	
}
.completion > div.fillable-bar > div.filled-bar{
	width: 45%;
	height: inherit;
	border-top-left-radius: 36px;
	border-bottom-left-radius: 36px;
	background-color: #faac18;
	z-index: 1;
}
.about{
	padding-bottom: 20px;
	margin-bottom: 26px;
	border-bottom: 2px solid #707070;
}
.about > .about-header,.gallery-header,.comments-header{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}
.about > .about-content{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal; 
	text-align: left;
}
.hided-on-ms{
	display: none;
}
.hided-on-l{
	display: block;
}
.gallery{
	padding-bottom: 20px;
	margin-bottom: 26px;
	border-bottom: 2px solid #707070;
}
.gallery-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.gallery-content > div{
	width: 178px;
	height: 178px;
	margin-bottom: 14px; 
	background-image: url(https://images.unsplash.com/photo-1553531384-411a247ccd73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);//change after test
	background-position: center;
	background-size: cover;
	border-radius: 2px
}
div.comment{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 14px;
	margin-top: 6px;
	margin-bottom: 12px;
	border-bottom: 2px solid #707070;
}
div.comment > div.icon {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background-color: #f4f4f4;
}
div.comment > p.comment-name{
	font-weight: bold;
	font-size: 14px;
	margin: 8px 7px;
}
div.comment > p.comment-content{
	margin-top: 2px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 0;
}
div.donate-section{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vW;
	height: 71px;
	box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	z-index: 5;
}
div.donate-underspace{
	width: 100vw;
	height: 72px;
}
div.donate-section > div{
	padding: 23px 23px;
	justify-content: space-between;
	max-width: 1244px;
}
div.donate-section > div > .donate-button{
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	text-decoration: none;
	color: #ffffff;
	background-color:#5b469e;
	width: 180px;
	height: 43.8px; 
	border-radius: 80px;
	right: 23px;
	text-align: center;
	padding: 11.2px 0;
	transform: translateY(-25%);
}
span.donate-share-save a{
	text-decoration: none;
	color: #3e3e3e;
}
span.donate-share-save > a:nth-child(2){
	margin-right: 26px;
}
p.donate-header{
	display: none;
}
@media(max-width:410px){
	//special breakpoint
	main > div > div.gallery-mini {
		max-width: 335px;
	}
	.gallery-content{
		justify-content: space-around;
	}
	span.donate-share-save > a:nth-child(2){
		margin-right: 0;
	}
}
@media(min-width:768px){
	main > div > div.gallery-mini >div.static-gallery,
	main > div > div.gallery-mini >div.static-gallery>div.gallerym-overlay,
	main > div > div.gallery-mini {
		width: 278px;
		height: 360px;
	}
	main > div > div > div.about-mini{
		margin: 0;
		margin-left: 32px;
		grid-template-rows: 0.6fr 1fr 1.5fr;
		grid-row-gap: 28px;
		height: 260px;
		width: 402px;
	}
	main > div > div{
		width:402px; 
	}
	main > div > div >div.about{
		margin-left: 32px;
	}
	.completion{
		width: 402px;
	}
	.about-mini > .owner {
		justify-content: center;
		text-align: left;
		grid-template-columns: 1fr 8fr;
		grid-template-rows: 1fr;
		grid-column-gap: 15px;
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.about-mini > .owner > .owner-icon{
		display: flex;
		align-items: center;
		margin: 0;
	}
	.about-mini > .owner > .owner-name > p,
	.about-mini > .owner > .owner-name > span{
		margin: 8px 0;
	}
	.about-mini > .owner > .owner-name > p{
		line-height: 1.6;
	}
	.about-mini > .owner > .owner-name > span{
		display: inline-block;
	}
	.about-mini > .header{
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.about-mini > .owner > .owner-icon{
		width: 40px;
		height: 40px;
	}
	.about-mini > .header > .header-dleft{
		width: 100px;
		font-size: 16px;
		text-align: right;
	}
	.about-mini > .header > div {
		width: 300px;
	}
	.completion{
		margin-left: 32px;
		height: 70px;
	}
	.hided-on-l{
		display: block;
	}
	.hided-on-l{
		width: 712px;
	}
	.gallery-content > div{
		width: 226px;
		height: 226px;
	}
	div.donate-section > div{
		padding: 23px 27px;
	}
	div.donate-section > div > .donate-button{
		right: 27px;
	}
	p.donate-header{
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.22;
		letter-spacing: normal;
		text-align: left;
		color: #3e3e3e;
		margin-right: 32px;
	}
}
@media(min-width:1280px){
	main > div > div.gallery-mini{
		width: 387px;
		height: 540px;
	}
	main > div > div.gallery-mini > div.static-gallery{
		position: fixed;
		width: 387px;
		max-width: 387px;
		height: 540px;
	}
	main > div > div.gallery-mini > div.static-gallery > div.gallerym-overlay{
		width: 387px;
		max-width: 387px;
		height: 540px;
	}
	main > div > div > div.about-mini{
		width: 810px;
		height: 290px;
	}
	main > div > div{
		width:810px; 
	}
	.completion{
		width: 810px;
	}
	.about-mini > .owner > .owner-icon{
		width: 66px;
		height: 66px;
	}
	.about-mini > .owner{
		grid-template-columns: 1fr 10fr;
	}
	.about-mini > .owner > .owner-name > p,
	.about-mini > .owner > .owner-name > span{
		margin: 21px 0;
		margin-left: 0;
	}
	.about-mini > .header > div > .header-text{
		font-size: 30px;
	}
	.about-mini > .header > div {
		width: 600px;
	}
	.about-mini > .header > .header-dleft{
		width: 140px;
		font-size: 24px;
	}
	.hided-on-l{
		display: none;
	}
	.hided-on-ms{
		display: block;
		width: 810px;
	}
	.gallery,.comments{
		margin-left: 32px;
	}
	.gallery-content > div{
		width: 255px;
		height: 255px;
	}
	p.donate-header{
		margin-right: 70px;
	}
	div.donate-section > div{
		margin: auto;
		padding-right: 0;
		padding-left: 0;
		position: relative;
	}
	div.donate-section > div > .donate-button{
		right: 12px;
	}
}
//	end of campaign page

//	start of Pop-up register/login
.modal-dialog{
	width: 352px;
	height: 400px;
	margin: auto;
	margin-top: 132px;
	text-align: center;
}
.modal-body{
	padding-top:70px;

	padding-bottom:70px;
}
.card{
	border:none;
}
.card-header{
	background-color: white;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 25px;
}
.card-header > h3{
	font-size: 18px;
	font-family: OpenSans;
	line-height: 1.33;
	color: #662f92;
	margin-bottom:3px;
}
.card-header > p{
	font-family: OpenSans;
  	font-size: 14px;
  	font-weight: normal;
	color: #373737;
	margin-bottom: 0;
}
div.card-body{
	padding-top:0;
}
.auth-label{
	text-align: left;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 8px;
    color: #373737;
}
div.card-body > form{
	width: 150px;
	margin: auto
}
.form-group{
	margin-bottom: 6px;
}
.form-control{
	height: 21px;
	padding: 0.1rem 0.1rem;
	border-color: #707070
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #652f8d;
	outline: 0;
	box-shadow: none;
}
.btn-auth{
	width: 100%;
	height: 21px;
	padding: 0.1rem;
	border-radius: 4px;
	border: solid 1px #652f8d;
	background-color: #ffffff;
	color: #652f8d;
	font-size: 8px;
	margin-bottom: 5px;
}
.btn-auth:hover{
	background-color: #662f92;
	color: white;
}
.btn-auth:focus{
	box-shadow: none;
}
.forgot{
	float:left;
	font-size: 6px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: left;
	color: #373737;
}
input#remember{
	width: 6.6px;
	height: 6.6px;
	border-radius: 2px;
	border: solid 0.5px #707070;
	background-color: #ffffff;
}
.remember-check{
	padding-left: 15px;
	padding-right: 15px;
}
.remember-check > div{
	float: left;
	height: 12px;
	margin-right: 5px;
}
.remember-check > div > input{
	top:40%;
	transform: translateY(60%);
}
@media(min-width:768px){
	.modal-dialog{
		width:611px;
		max-width: 611px;
		margin-top:120px;
	}
	.modal-body{
		padding-top:123px;
		padding-bottom:123px;
	}
	.card-header{
		margin-bottom: 31px;
	}
	.card-header > h3{
		font-size: 32px;
		margin-bottom:5px;
	}
	.card-header > p{
		font-size: 24px;
	}
	div.card-body > form{
		width: 263px;
	}
	.form-control{
		height:40px;
		margin-bottom:16px;
	}
	.auth-label{
		font-size: 14px;
	}
	input#remember{
		width: 11.5px;
		height: 11.5px;
		border-radius: 2px;
	}
	.remember-check{
		margin-bottom: 16px;
	}
	.remember-check > div > input{
		top:40%;
		transform: translateY(50%);
	}
	.btn-auth{
		width: 263px;
		height: 38.4px;
		border-radius: 4px;
		font-size: 14px;
	}
	.forgot{
		font-size: 12px;
	}
}
@media(min-width:1280px){
	.modal-dialog{
		width:795px;
		max-width: 795px;
		margin-top:100px;
		margin-bottom:100px;
	}
	.modal-body{
		padding-top:120px;
		padding-bottom:120px;
	}
	.card-header{
		margin-bottom: 42px;
	}
	.card-header > h3{
		font-size: 42px;
		margin-bottom:5px;
	}
	.card-header > p{
		font-size: 32px;
	}
	div.card-body > form{
		width: 342px;
	}
	.form-control{
		height:50px;
		margin-bottom:22px;
	}
	.auth-label{
		font-size: 18px;
	}
	input#remember{
		width: 15px;
		height: 15px;
		border-radius: 2px;
	}
	.remember-check{
		margin-bottom: 16px;
	}
	.remember-check > div > input{
		top:40%;
		transform: translateY(50%);
	}
	.btn-auth{
		width: 342px;
		height: 50px;
		border-radius: 4px;
		font-size: 18px;
	}
	.forgot{
		font-size: 16px;
	}
}
//	end of Pop-up register/login

// start of explore page
.exploreIllustration{
	position: absolute;
	width: 100vw;
	height: 264px;
	top: 0;
	left: 0;
	background-color: red; //TODO: change background
}
.exploreIllUnder{
	width: 100%;
	height: 264px;
	overflow:auto;
}
.exploreIllUnder > h3{
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.34;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-top: 76px;
	padding-left: 0;
	z-index: 3;
}
input.search,
select.category,
select.collection{
	width: 240px;
	height: 26px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	margin-bottom: 20px;
	font-size: 10px;
	font-weight: 300;
}
.campaigns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 16.4px;
	grid-row-gap: 21px;
	width: 100%;
	grid-auto-rows: minmax( 170px , 170px);
}
h3.header-explore{
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	margin-bottom: 20px;
}
.campaigns > .campaignThumbnail{
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  	background-color: #f6f6f6;
}
.campaignThumbnail > a >.campaignThBackground{
	width: 100%;
	height: 106px;
	background-position: center;
	background-size: cover;
	margin-bottom: 6.5px;
}
.campaignThumbnail > a >.campaignThText{
	height: 60px;
	background-color: #ffffff;
}
@media(min-width:768px){
	.exploreIllustration,
	.exploreIllUnder{
		height: 418px;
	}
	.exploreIllUnder > h3{
		font-size: 24px;
		margin-top: 143px;
	}
	input.search,
	select.category,
	select.collection{
		font-size: 14px;
		width: 160px;
		height: 28px;
	}
	div.explore-input{
		width: 100%;
		justify-content: space-between;
		display: flex;
	}

	div.explore-input > div{
		width: 50%;
		display: flex;
		justify-content: space-between;
	}
	.campaigns{
		grid-auto-rows: minmax( 310px , 310px);
		grid-gap: 30px;
	}
	h3.header-explore{
		margin-top: 10px;
	}
	.campaignThumbnail > a >.campaignThBackground{
		height: 205px;
		margin-bottom: 13px;
	}
	.campaignThumbnail > a >.campaignThText{
		height: 95px;
	}
}
@media(min-width:1280px){
	.exploreIllustration,
	.exploreIllUnder{
		height: 520px;
	}
	.exploreIllUnder > h3{
		font-size: 32px;
		margin-top: 180px;
	}
	input.search,
	select.category,
	select.collection{
		font-size: 18px;
		width: 282px;
		height: 48px;
		padding-top: 13px;
		padding-bottom: 13px;
		padding-left: 8px;
	}
	h3.header-explore{
		font-size: 20px;
		margin-top: 40px;
	}
	.campaigns{
		grid-auto-rows: minmax( 542px , 542px);
		grid-gap: 30px;
	}
	.campaignThumbnail > a >.campaignThBackground{
		height: 354px;
		margin-bottom: 22px;
	}
	.campaignThumbnail > a >.campaignThText{
		height: 166px;
	}
}

//admin page
.adminNav > .router-link-active{
	color: #fff;
	background-color: #3490dc;
	padding: 15px
}
.adminNav > .nav-link{
	padding: 15px;
}
.adminNav > .router-link-active > p{
	margin-bottom: 0;
}
//end of admin page